/* YourComponent.module.css */
.image-input-text-editor img,
.image-group img {
  width: 150px !important;
  height: 150px !important;
  object-fit: cover;
  border-radius: 8px;
}

.image-input-text-editor iframe[height] {
    height: 200px !important;
  }

.image-group {
  display: flex;
  flex-wrap: wrap;
}
  


